<!doctype html>
<title>{% block title %}{% endblock %} Set price for my Airbnb listing</title>
<link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='select2.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<script src="{{url_for('.static', filename='jquery.min.js')}}"></script>
<script src="{{url_for('.static', filename='bootstrap.bundle.min.js')}}"></script>
<script src="{{url_for('static', filename='select2.js')}}"></script>
<link href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
<link href='https://fonts.googleapis.com/css?family=Cabin:700' rel='stylesheet' type='text/css'>
<script>
    $(document).ready(function() {
        $('#combobox_country').select2();
    });
    $(document).ready(function() {
        $('#combobox_city').select2();
    });
    $(document).ready(function() {
        $('#combobox_neighbourhood').select2();
    });
    $(document).ready(function() {
        $('#combobox_propertytype').select2();
    });
    $(document).ready(function() {
        $('#combobox_roomtype').select2();
    });
    $(document).ready(function() {
        $('#combobox_bedtype').select2();
    });
    $(document).ready(function() {
        $('#combobox_cancellationpolicy').select2();
    });
    $(document).ready(function() {
        $('#combobox_hostresponsetime').select2();
    });
</script>

<!--
<nav>
  <h1>Flaskr</h1>
  <ul>
    {% if g.user %}
      <li><span>{{ g.user['username'] }}</span>
      <li><a href="{{ url_for('hello') }}">Log Out</a>
    {% else %}
      <li><a href="{{ url_for('hello') }}">Register</a>
      <li><a href="{{ url_for('hello') }}">Log In</a>
    {% endif %}
  </ul>
</nav>
<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  {% block content %}{% endblock %}
</section>
-->

<nav class="navbar navbar-expand-lg navbar_style fixed-top" id="mainNav">
    <a class="nav-link" href="http://deepakkarkala.com/">Home</a>
    <button class="navbar-toggler navbar-dark" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" id="Toggle navigation">
          <i class="fas fa-bars"></i>
        
    </button>
    <div id="navbarNavDropdown" class="navbar-collapse collapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="">About this project</a>
            </li>
        </ul>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="http://deepakkarkala.com/">Portfolio</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="http://deepakkarkala.com/#about_me">About me</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="http://deepakkarkala.com/#contact_me">Contact</a>
            </li>
        </ul>
    </div>
</nav>


<header class="masthead">
  <div class="intro-body">
    <div class="container">


      <div class="row">
        <div class="col-lg-8 col-md-12 col-sm-12 col-12 mx-auto">
          <div class="listing_form">

            <div class="row">
              <div class="col-lg-12 col-md-12 col-sm-12 col-12 mx-auto">
                <h1 class="brand-heading">Set price for my Airbnb listing</h1>
              </div>
            </div>

            <div class="row">
              <div class="col-lg-12 col-md-12 col-sm-12 col-12 mx-auto">
                <p class="intro-text text-center">
                  Enter details of your listing and the Machine Learning Model will suggest the best price based on location, size, amenities, reviews etc.
                </p>
              </div>
            </div>


            <form action="{{ url_for('hello') }}" method="POST">

            <!-- Location -->
            <div class="row listing_form_row">
              <div class="col-lg-12 col-md-12 col-sm-12 col-12 mx-auto">

                <div class="control-group">
                  Location: 
                  <select id="combobox_country" class="select2_select" name="combobox_country">
                    <option value="">Country</option>
                    {% if result %}
                      <option value="" selected="selected">{{original_input.country}}</option>
                    {% endif %}
                  </select> 
                  <select id="combobox_city" class="select2_select" name="combobox_city">
                    <option value="">City</option>
                    {% if result %}
                      <option value="" selected="selected">{{original_input.city}}</option>
                    {% endif %}
                  </select> 
                  <select id="combobox_neighbourhood" class="select2_select" name="combobox_neighbourhood">
                    <option value="">Neighbourhood</option>
                    {% if result %}
                      <option value="" selected="selected">{{original_input.neighbourhood}}</option>
                    {% endif %}
                  </select> 
                </div> 
                    
                <!--
                <div class="btn-group">
                  <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Country</button>
                  <div class="dropdown-menu" idledby="dropdown_loc_country">
                    <button class="dropdown-item" type="button">Action</button>
                    <button class="dropdown-item" type="button">Another action</button>
                    <button class="dropdown-item" type="button">Something else here</button>
                  </div>
                </div>
                -->

              </div>
            </div>


            <!-- Listing -->
            <div class="row listing_form_row">
              <div class="col-lg-12 col-md-12 col-sm-12 col-12 mx-auto">

                <div class="control-group">
                  Listing: 
                  <select id="combobox_propertytype" class="select2_select" name="combobox_propertytype">
                    <option value="">Property Type</option>
                    {% if result %}
                      <option value="" selected="selected">{{original_input.propertytype}}</option>
                    {% endif %}
                  </select> 
                  <select id="combobox_roomtype" class="select2_select" name="combobox_roomtype">
                    <option value="">Room Type</option>
                    {% if result %}
                      <option value="" selected="selected">{{original_input.roomtype}}</option>
                    {% endif %}
                  </select> 
                  <select id="combobox_bedtype" class="select2_select" name="combobox_bedtype">
                    <option value="">Bed Type</option>
                    {% if result %}
                      <option value="" selected="selected">{{original_input.bedtype}}</option>
                    {% endif %}
                  </select> 
                </div> 

              </div>
            </div>


            <!-- Misc -->
            <div class="row listing_form_row">
              <div class="col-lg-12 col-md-12 col-sm-12 col-12 mx-auto">

                <div class="control-group">
                  <select id="combobox_cancellationpolicy" class="select2_select" name="combobox_cancellationpolicy">
                    <option value="">Cancellation Policy</option>
                    {% if result %}
                      <option value="" selected="selected">{{original_input.cancellationpolicy}}</option>
                    {% endif %}
                  </select> 
                  <select id="combobox_hostresponsetime" class="select2_select" name="combobox_hostresponsetime">
                    <option value="">Host Response Time</option>
                    {% if result %}
                      <option value="" selected="selected">{{original_input.hostresponsetime}}</option>
                    {% endif %}
                  </select> 
                </div> 

              </div>
            </div>



            <div class="row listing_form_row">
              <div class="col-lg-12 col-md-12 col-sm-12 col-12 mx-auto">
                <div class="row">
                    <div class="col-lg-4 col-4">
                        {% if result %}
                          Accommodates: <input size="3" type="text" id="accommodates"  name="accommodates" value={{original_input.accommodates}}>
                        {% else %}
                          Accommodates: <input size="3" type="text" placeholder="2" id="accommodates" name="accommodates">
                        {% endif %}
                    </div>
                    <div class="col-lg-4 col-4">
                        {% if result %}
                          Bedrooms: <input size="3" type="text" placeholder="1" id="num_bedrooms" name="num_bedrooms" value={{original_input.num_bedrooms}}>
                        {% else %}
                          Bedrooms: <input size="3" type="text" placeholder="1" id="num_bedrooms" name="num_bedrooms">
                        {% endif %}
                    </div>
                    <div class="col-lg-4 col-4">
                        {% if result %}
                          Beds: <input size="3" type="text" placeholder="1" id="num_beds" name="num_beds" value={{original_input.num_beds}}>
                        {% else %}
                          Beds: <input size="3" type="text" placeholder="1" id="num_beds" name="num_beds">
                        {% endif %}
                    </div>
                </div>
              </div>
            </div>

            <!-- Availability -->
            <div class="row listing_form_row">
              <div class="col-lg-4 col-4">
                  {% if result %}
                    Min nights: <input size="3" type="text" placeholder="1" id="min_nights" name="min_nights" value={{original_input.min_nights}}>
                  {% else %}
                    Min nights: <input size="3" type="text" placeholder="1" id="min_nights" name="min_nights">
                  {% endif %}
              </div>
              <div class="col-lg-4 col-4">
                  {% if result %}
                    Availability 30: <input size="3" type="text" placeholder="15" id="availability_30" name="availability_30" value={{original_input.availability_30}}>
                  {% else %}
                    Availability 30: <input size="3" type="text" placeholder="15" id="availability_30" name="availability_30">
                  {% endif %}
              </div>
              <div class="col-lg-4 col-4">
                  {% if result %}
                    Availability 365: <input size="3" type="text" placeholder="150" id="availability_365" name="availability_365" value={{original_input.availability_365}}>
                  {% else %}
                    Availability 365: <input size="3" type="text" placeholder="150" id="availability_365" name="availability_365">
                  {% endif %}
              </div>
            </div>


            <!-- Reviews -->
            <div class="row listing_form_row">
              <div class="col-lg-4 col-4">
                  {% if result %}
                    Number of reviews: <input size="3" type="text" placeholder="50" id="num_reviews" name="num_reviews" value={{original_input.num_reviews}}>
                  {% else %}
                    Number of reviews: <input size="3" type="text" placeholder="50" id="num_reviews" name="num_reviews">
                  {% endif %}
              </div>
              <div class="col-lg-4 col-4">
                  {% if result %}
                    Review Score: <input size="6" type="text" placeholder="20-100" id="review_scores_rating" name="review_scores_rating" value={{original_input.review_scores_rating}}>
                  {% else %}
                    Review Score: <input size="6" type="text" placeholder="20-100" id="review_scores_rating" name="review_scores_rating">
                  {% endif %}
              </div>
            </div>

            <div class="row listing_form_row">
              <div class="col-lg-4 col-4">
                  {% if result %}
                    Accuracy Score: <input size="6" type="text" placeholder="2-10" id="review_scores_accuracy" name="review_scores_accuracy" value={{original_input.review_scores_accuracy}}>
                  {% else %}
                    Accuracy Score: <input size="6" type="text" placeholder="2-10" id="review_scores_accuracy" name="review_scores_accuracy">
                  {% endif %}
              </div>
              <div class="col-lg-4 col-4">
                  {% if result %}
                    Cleanliness Score: <input size="6" type="text" placeholder="2-10" id="review_scores_cleanliness" name="review_scores_cleanliness" value={{original_input.review_scores_cleanliness}}>
                  {% else %}
                    Cleanliness Score: <input size="6" type="text" placeholder="2-10" id="review_scores_cleanliness" name="review_scores_cleanliness">
                  {% endif %}
              </div>
              <div class="col-lg-4 col-4">
                  {% if result %}
                    Checkin Score: <input size="6" type="text" placeholder="2-10" id="review_scores_checkin" name="review_scores_checkin" value={{original_input.review_scores_checkin}}>
                  {% else %}
                    Checkin Score: <input size="6" type="text" placeholder="2-10" id="review_scores_checkin" name="review_scores_checkin">
                  {% endif %}
              </div>
            </div>

            <div class="row listing_form_row">
              <div class="col-lg-4 col-4">
                  {% if result %}
                    Interaction Score: <input size="6" type="text" placeholder="2-10" id="review_scores_communication" name="review_scores_communication" value={{original_input.review_scores_communication}}>
                  {% else %}
                    Interaction Score: <input size="6" type="text" placeholder="2-10" id="review_scores_communication" name="review_scores_communication">
                  {% endif %}
              </div>
              <div class="col-lg-4 col-4">
                  {% if result %}
                    Location Score: <input size="6" type="text" placeholder="2-10" id="review_scores_location" name="review_scores_location" value={{original_input.review_scores_location}}>
                  {% else %}
                    Location Score: <input size="6" type="text" placeholder="2-10" id="review_scores_location" name="review_scores_location">
                  {% endif %}
              </div>
              <div class="col-lg-4 col-4">
                  {% if result %}
                    Value Score: <input size="6" type="text" placeholder="2-10" id="review_scores_value" name="review_scores_value" value={{original_input.review_scores_value}}>
                  {% else %}
                    Value Score: <input size="6" type="text" placeholder="2-10" id="review_scores_value" name="review_scores_value">
                  {% endif %}
              </div>
            </div>



            <!-- Host -->
            <div class="row listing_form_row">
              <div class="col-lg-4 col-4">
                  {% if result %}
                    Host Since: <input size="8" type="text" placeholder="100 days" id="host_since" name="host_since" value={{original_input.host_since}}>
                  {% else %}
                    Host Since: <input size="8" type="text" placeholder="100 days" id="host_since" name="host_since">
                  {% endif %}
              </div>
              <div class="col-lg-4 col-4">
                  {% if result %}
                    Response Rate: <input size="6" type="text" placeholder="0-100" id="host_response_rate" name="host_response_rate"value={{original_input.host_response_rate}}>
                  {% else %}
                    Response Rate: <input size="6" type="text" placeholder="0-100" id="host_response_rate" name="host_response_rate">
                  {% endif %}
              </div>
              <div class="col-lg-4 col-4">
                  {% if result %}
                    Num listings: <input size="6" type="text" placeholder="1" id="host_num_listings" name="host_num_listings" value={{original_input.host_num_listings}}>
                  {% else %}
                    Num listings: <input size="6" type="text" placeholder="1" id="host_num_listings" name="host_num_listings">
                  {% endif %}
              </div>
            </div>


            <div class="row listing_form_row text-center">
              <div class="col-lg-4 col-4 mx-auto">
                <input class="btn btn-primary" type="submit" value="Submit">
              </div>
            </div>

            </form>


            <div class="row listing_form_row listing_form_bottom_row model_output_row">
              <div class="col-lg-12 col-12 mx-auto">
                {% if result %}
                  Suggested price per night: <span class="badge badge-secondary model_output_price">USD  {{ result }}</span>
                {% else %}
                  Suggested price per night: <span class="badge badge-secondary model_output_price">USD ___ </span>
                {% endif %}
              </div>
            </div>


          </div>
        </div>
      </div>


    </div>
  </div>
</header>


<script src="{{url_for('.static', filename='d3.v4.min.js')}}"></script>
<script src="{{url_for('.static', filename='set_dropdown_options.js')}}"></script>



<!--
<section class="listing_details" id="listing_details">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 col-sm-10 col-12 mx-auto">
        Test
      </div>
    </div>
  </div>
</section>
-->
